.footer {
  background-color: #f1f1f1;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px 90px;
  position: relative;
}

.footer-column {
  display: flex;
  flex-direction: column;
  flex: 0 1 31%;
}

.footer-title {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 30px;
}

.footer-item {
  font-size: 16px;
  padding-bottom: 15px;
  color: #000;
}

.footer-item:last-child {
  padding-bottom: 0;
}

.footer-arrow {
  position: absolute;
  bottom: 90px;
  right: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  z-index: 999;
}