/*Zeroing*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: #f1f1f1;
  max-height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 23px 0px;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.header-menu__item {
  margin-right: 20px;
}

.header-menu__item:last-child {
  margin-right: 0px;
}

.menu-link {
  color: #000;
}

.hero-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0px;
}

.book-img {
  position: relative;
  max-width: 460px;
  max-height: 646px;
  margin-right: 120px;
}

.hero-img img {
  max-width: 80%;
  height: auto;
}

.hero-discount {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: rgb(255, 0, 0);
  color: #fff;
  padding: 10px 20px;
}

.author {
  font-size: 24px;
  display: inline-block;
  margin-bottom: 22px;
}

.hero-title {
  font-size: 53px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-description {
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  max-width: 400px;
  margin-bottom: 50px;
}

.book-about {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  margin-bottom: 34px;
  max-width: 95%;
}

.book-about__item {
  display: inline-block;
  margin-bottom: 16px;
  flex: 0 1 50%;
}

.price-favorite {
  display: flex;
  align-items: center;
  margin-bottom: 73px;
}

.hero-price {
  display: inline-block;
  margin-right: 64px;
  font-size: 50px;
}

.button-more {
  background-color: #f89c02;
  padding: 23px 50px;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}

.button-buy {
  background-color: #fff;
  padding: 21px 60px;
  color: #f89c02;
  border: 2px solid #f89c02;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}

.book {
  background-color: #f1f1f1;
}

.book-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #f1f1f1;
  padding: 100px 0px;
}

.about-book {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  margin-right: 120px;
}

.book-header {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 35px;
}

.book-text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  
}

.book-text:last-child {
  margin-bottom: 0px;
}

.about-author {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  padding: 85px 115px 50px;
  background-color: #fff;
  border-radius: 10px;
}

.author-info {
  display: flex;
  margin-bottom: 25px;
}

.author-foto {
  max-width: 109px;
  height: auto;
  border-radius: 100%;
  margin-right: 17px;
}

.author-fn {
  display: flex;
  flex-direction: column;
}

.author-name {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 14px;
}

.author-link {
  font-size: 16px;
  color: #000;
}

.author-word {
  font-size: 16px;
  line-height: 25px;
}

.readers-wrap {
  padding: 80px 0px 70px;
}

.readers-header {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 55px;
}

.readers-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.readers-foto {
  max-width: 167px;
  height: auto;
  margin-bottom: 30px;
}

.footer {
  background-color: #f1f1f1;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px 90px;
  position: relative;
}

.footer-column {
  display: flex;
  flex-direction: column;
  flex: 0 1 31%;
}

.footer-title {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 30px;
}

.footer-item {
  font-size: 16px;
  padding-bottom: 15px;
  color: #000;
}

.footer-item:last-child {
  padding-bottom: 0;
}

.footer-arrow {
  position: absolute;
  bottom: 90px;
  right: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  z-index: 999;
}